corpo{

    display: grid;

    text-align: center;

    grid-template-columns: 30% 30% 30%;

    position: absolute;

   

    width: 1440px;

    height: 640px;

    flex-shrink: 0;

    background: linear-gradient(180deg, #1ce4eb 0%, rgba(4, 255, 79, 0) 100%);

}

.corpo-itens{

 

    text-align: center;

    padding: 16px 0;

}

.corpo-itens-img{

    width: 280px;

}