body{
    background-color:rgb(51, 124, 124);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #5b428a;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #315e54;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(0, 0, 0);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgb(0, 0, 0);
    }
    .itens {
    background-color: rgb(100, 59, 59);
    }