
    .apre{
        
    }
    .img3{
        position: absolute;
width: 233px;
height: 330px;
left: 1147px;
top: 20px;
    }
    .fundo1{
        position: absolute;
        width: 1440px;
        height: 512px;
        left: 0px;
        top: 0px;
        
        background: linear-gradient(180deg, #14A69D 0%, #D4CDFF 99.99%, rgba(20, 166, 157, 0) 100%);

    }
    .fundo2{
        position: absolute;
    width: 1440px;
    height: 512px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(180deg, #14A69D 0%, #D4CDFF 99.99%, rgba(20, 166, 157, 0) 100%);
    }